<%- layout("/layouts/boilerplate") %>
<body>
    <h1>Edit your listing </h1>
    <form action="/listing/<%= listing._id %>" method="post">
        <label for="title">Title</label>
        <input type="text" name="listing[title]" id="title" value="<%= listing.title %>">
        <br><br>
        <label for="description">Description</label>
        <textarea type="text" name="listing[description]" id="description"><%= listing.description %></textarea>
        <br><br>
        <label for="price">Price</label>
        <input type="number" name="listing[price]" id="price" value="<%= listing.price %>">
        <br><br>
        <label for="location">Location</label>
        <input type="text" name="listing[location]" id="location" value="<%= listing.location %>">
        <br><br>
        <label for="country">Country</label>
        <input type="text" name="listing[country]" id="country" value="<%= listing.country %>">
        <br><br>
        <button type="submit">Update Listing</button>
    </form>
</body>
