<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3 md-3"><h1>Listing Details</h1></div>
    <div class="card col-10 offset-3 md-3  listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing image">
        <div class="card-body show-card md-3">
            <br>
            <p>
                Title: <b><%= listing.title %></b><br>
                Descrpition:<%= listing.description %> <br>
                Price: <span>&#8377</span><%= listing.price.toLocaleString("en-IN")%> <br>
                Location: <%= listing.location%> <br>
                Country:<%= listing.country %> <br>
            </p>
        </div>
    </div>
       
</div>
<div class="show-btns">
<a href="<%= listing._id %>/edit" class="btn btn-primary col-1 offset-3">Edit</a>
<form method="post" action="/listing/<%= listing._id %>?_method=delete" >
    <button type="submit" class="btn btn-danger offset-5">Delete</button>
</form> 
</div>
<hr>

<div class="col-6 offset-3 md-3" >
    <h4>Leave Review</h4>
    <form action="/listings/<%= listing._id %>/reviews" class="col-3 md-3" method="post"   class="needs-validation"
        novalidate>
        <div>
            <label for="rating" class="form-label">Rating</label>
            <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range form-control">
        </div>
        <div>
            <label for="comment" class="form-label">Comment</label>
            <textarea name="review[comment]" id="comment" cols="40"  class="form-control"
            required></textarea>
            <div class="invalid-feedback">Please enter a Title.</div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update Listing</button>
          </div>
    </form>
    <script>
        (() => {
          "use strict";
  
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          const forms = document.querySelectorAll(".needs-validation");
  
          // Loop over them and prevent submission
          Array.from(forms).forEach((form) => {
            form.addEventListener(
              "submit",
              (event) => {
                if (!form.checkValidity()) {
                  event.preventDefault();
                  event.stopPropagation();
                }
  
                form.classList.add("was-validated");
              },
              false
            );
          });
        })
        ();
      </script>
      <p><B>Reviews</B></p>
      <div class="row">
       <% for(review of listing.reviews) {%>
       <div class="card col-6 mb-3">
        <div class="card-body">
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %></p>
          <form method="post" action="/listing/<%= listing._id %>/reviews/<%= review.id %>?_method=DELETE" >
            <button type="submit" class="btn btn-sm btn-dark">Delete</button>
        </form> 
        </div>
      </div>
      <% } %>
       </div>
</div>
</div>




          

