<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3 md-3"><h1>Listing Details</h1></div>
    <div class="card col-10 offset-3 md-3">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing image">
        <div class="card-body show-card md-3">
            <br>
            <p>
                Title: <b><%= listing.title %></b><br>
                Descrpition:<%= listing.description %> <br>
                Price: <span>&#8377</span><%= listing.price.toLocaleString("en-IN")%> <br>
                Location: <%= listing.location%> <br>
                Country:<%= listing.country %> <br>
            </p>
        </div>
    </div>
       
</div>
<div class="show-btns">
<a href="<%= listing._id %>/edit" class="btn btn-primary col-1 offset-3">Edit</a>
<form method="post" action="/listing/<%= listing._id %>?_method=delete" >
    <button type="submit" class="btn btn-danger offset-5">Delete</button>
</form> 
</div>

          

